asgiref==3.7.2
whitenoise
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
Django==4.2.7
djangorestframework==3.14.0
gunicorn==21.2.0
icrawler==0.6.7
idna==3.6
imageio==2.33.0
imageio-ffmpeg==0.4.9
lxml==4.9.3
moviepy==1.0.3
numpy==1.24.4
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
proglog==0.1.10
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tqdm==4.66.1
typing-extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
webcolors==1.13
